@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <br />
    <h4>I am available for hire!</h4>
</hgroup>
<div class="row">

    <br />
    <div class="col-md-4" itemscope itemtype="http://schema.org/Person">
        <h4><span itemprop="name">John Palmer</span></h4>
        <p><span itemprop="telephone">(619) 609-0131</span></p>
        <p><a href="http://twitter.com/johndpalm" target="_blank"><img src="http://www.citrius.com/Content/citrius/twitter.png" width="24" height="24" alt="Twitter" /></a>&nbsp;<a href="http://twitter.com/johndpalm" target="_blank">Twitter</a></p>

    </div>
    <div class="col-md-4" itemscope itemtype="http://schema.org/Organization">
        <img itemprop="logo" src="http://www.citrius.com/Content/citrius/citrius_logo_200x68.png" alt="Citrius">
        <h4><span itemprop="name">Citrius Corporation</span></h4>
        <strong>Telephone:</strong>
        <p><span itemprop="telephone">(877) 365-2212</span></p>
        <strong>Email:</strong>
        <p><a href="mailto:info@citrius.com"><span itemprop="email">info@citrius.com</span></a></p>
        <strong>Address:</strong>
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">3639 Midway Drive, Suite B-139</span><br />
            <span itemprop="addressLocality">San Diego</span> <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">92110</span>
        </div>
        <strong>Connect:</strong>
        <p><a href="http://www.facebook.com/citriuscorp" target="_blank"><img src="http://www.citrius.com/Content/citrius/facebook.png" width="24" height="24" alt="Facebook" /></a>&nbsp;<a href="http://www.facebook.com/citriuscorp" target="_blank">Facebook</a>&nbsp;<a href="http://twitter.com/citriuscorp" target="_blank"><img src="http://www.citrius.com/Content/citrius/twitter.png" width="24" height="24" alt="Twitter" /></a>&nbsp;<a href="http://twitter.com/citriuscorp" target="_blank">Twitter</a>&nbsp;<a href="http://www.foursquare.com/citriuscorp" target="_blank"><img src="http://www.citrius.com/Content/citrius/foursquare.png" width="24" height="24" alt="Foursquare" /></a>&nbsp;<a href="http://www.foursquare.com/citriuscorp" target="_blank">Foursquare</a></p>
    </div>
</div>
