<!-- ko with: home -->
<div class="jumbotron">
    <h1>ASP.NET Identity (Web API)</h1>
    <p class="lead">The ASP.NET Identity User Properties Sample project is a collection of Visual Studio projects that show how to create a custom user, request user properties at registration, and edit properties after login.</p>
    <p>The MySample.WebAPI project takes the Visual Studio (RC) SPA template, adds a CustomUser entity, and modified the AccountController, and JavaScript files to prompt for additional user properties.</p>
    <p><a href="https://github.com/johndpalm/IdentityUserPropertiesSample" target="_blank" class="btn btn-primary btn-large">GitHub project &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Web API/SPA</h2>
        <p>ASP.NET Web API provides the data access layer for Single Page Application (SPA).  Using a wide variety of client-side patterns using HTML, CSS, and JavaScript, you can create highly interactive modern web applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a>&nbsp;<a class="btn btn-info" href="http://blogs.citrius.com/tag/single-page-application/">My SPA Articles</a></p>
    </div>
    <div class="col-md-6">
        <h2>Bootstrap 3.0</h2>
        <p>The ASP.NET templates that ship with Visual Studio 2013 Preview/RC use Bootstrap 2.x.  You can easily update your projects to version 3 by finding and replacing some CSS classes and modifying some of the DIV structures.</p>
        <p><a class="btn btn-default" href="http://getbootstrap.com/getting-started/#migration">Learn more &raquo;</a>&nbsp;<a class="btn btn-info" href="http://blogs.citrius.com/tag/bootstrap/">My Bootstrap Articles</a></p>
    </div>
</div>
<!-- /ko -->
