<!-- ko with: register -->
<hgroup class="title">
    <h1>Register</h1>
</hgroup>
<form>
    <fieldset class="form-horizontal">
        <legend>Create a new account.</legend>
        <ul class="text-error" data-bind="foreach: errors">
            <li data-bind="text: $data"></li>
        </ul>
        <div class="form-group">
            <label for="UserName" class="col-md-3 control-label">User name</label>
            <div class="col-md-4">
                <input type="text" name="UserName" class="form-control" data-bind="value: userName, hasFocus: true" />
            </div>
        </div>
        <div class="form-group">
            <label for="Password" class="col-md-3 control-label">Password</label>
            <div class="col-md-4">
                <input type="password" name="Password" class="form-control" data-bind="value: password" />
            </div>
        </div>
        <div class="form-group">
            <label for="ConfirmPassword" class="col-md-3 control-label">Confirm password</label>
            <div class="col-md-4">
                <input type="password" name="ConfirmPassword" class="form-control" data-bind="value: confirmPassword" />
            </div>
        </div>
        <div class="form-group">
            <label for="FirstName" class="col-md-3 control-label">First name</label>
            <div class="col-md-4">
                <input type="text" name="FirstName" class="form-control" data-bind="value: firstName" />
            </div>
        </div>
        <div class="form-group">
            <label for="LastName" class="col-md-3 control-label">Last name</label>
            <div class="col-md-4">
                <input type="text" name="LastName" class="form-control" data-bind="value: lastName" />
            </div>
        </div>
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-primary" data-bind="click: register, disable: registering">Register</button>
        </div>
        <br />
        <p><a href="#" data-bind="click: login">Log in</a> if you already have a local account.</p>
    </fieldset>
</form>
<!-- /ko -->
