<!-- ko with: registerExternal -->
<hgroup class="title">
    <h1>Register</h1>
</hgroup>
<form>
    <fieldset class="form-horizontal">
        <legend data-bind="text: 'Associate your ' + loginProvider() + ' account.'"></legend>
        <p class="text-success">
            You've successfully authenticated with <strong data-bind="text: loginProvider"></strong>.
            Please enter a user name for this site below and click the Register button to finish logging in.
        </p>
        <ul class="text-error" data-bind="foreach: errors">
            <li data-bind="text: $data"></li>
        </ul>
        <div class="form-group">
            <label for="UserName" class="col-md-3 control-label">User name</label>
            <div class="col-md-4">
                <input type="text" name="UserName" class="form-control" data-bind="value: userName, hasFocus: true" />
            </div>
        </div>
        <div class="form-group">
            <label for="FirstName" class="col-md-3 control-label">First name</label>
            <div class="col-md-4">
                <input type="text" id="FirstName" name="FirstName" class="form-control" data-bind="value: firstName" />
            </div>
        </div>
        <div class="form-group">
            <label for="LastName" class="col-md-3 control-label">Last name</label>
            <div class="col-md-4">
                <input type="text" id="LastName" name="LastName" class="form-control" data-bind="value: lastName" />
            </div>
        </div>
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-primary" data-bind="click: register, disable: registering">Sign up</button>
        </div>
    </fieldset>
</form>
<!-- /ko -->
