@{
    ViewBag.Title = "ASP.NET Identity User Properties Sample";
}

<div class="jumbotron">
    <h1>ASP.NET Identity (MVC)</h1>
    <p class="lead">This project is based on the MVC 5 (RTM) template, then extended to show how to capture and store user properties by extending the default User entity, interacting with the external and application cookies, as well as working with the Entity Framework databases used by ASP.NET Identity.</p>
    <p><a href="https://github.com/johndpalm/IdentityUserPropertiesSample" target="_blank" class="btn btn-primary btn-large">GitHub project &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <ul>
            <li>Customer User entity.</li>
            <li>Prompt for additional user details at registration.</li>
            <li>Allow users to update additional details on account manage page.</li>
            <li>Requests and captures external login provider user properties.</li>
            <li>View external login provider user properties on account manage page.</li>
            <li>All site specific values are appSettings in web.config. (App settings are set in the Azure website config.)</li>
        </ul>

 </div>
    <div class="col-md-4">
        <h2>Other polish</h2>
        <ul>
            <li>Custom error pages on Release.</li>
            <li>Modified Bootstrap theme using <a href="https://github.com/thomaspark/bootswatch">Bootswatch</a>.</li>
            <li>Guest list showing registered users, join date, and connected logins.</li>
            <li>Google Analytics</li>
        </ul>

    </div>
    <div class="col-md-4">
        <h2>Live sample</h2>
        <p>You can see visit a live version of this project hosted on Windows Azure. It is most likely running code from the 'dev' branch which might have some bugs.</p>
        <p>I try to make sure any changes are tested and working correctly before I update 'master'.</p>
    </div>
</div>